@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Timestamp Microservice</h1>
    
    <p class="lead">A simple microservice that returns the current timestamp in Unix and UTC format.</p>

    <p>Click <a href="/App/GetCurrent">here</a> to get the current timestamp.</p>

    <p>Click <a href="/App/GetDateTime">here</a> to get date and time from timestamp.</p>
</div>
