@model HumanDateTimeViewModel
@{
    ViewData["Title"] = "Paste Timestamp and get Date and Time";
}

<h2>Get Date and Time from Timestamp</h2>

<form asp-action="GetDateTime" asp-controller="App" method="post">
    <div class="form-group">
        <label asp-for="Timestamp" class="control-label"></label>
        <input asp-for="Timestamp" class="form-control" />
        <span asp-validation-for="Timestamp" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Get Date and Time</button>
</form>