@model HumanDateTimeViewModel
@{
    ViewData["Title"] = "Paste Timestamp and get Date and Time";
}

<h2 class="text-center">Get Date and Time from Timestamp</h2>
<div class="row">
    <div class="text-center">
        <form asp-action="GetDateTime" asp-controller="Timestamp" method="post">
            <div class="form-group align-content-center">
                <label asp-for="Timestamp" class="control-label"></label>
                <div class="align-content-center">
                    <input asp-for="Timestamp" class="form-control text-center" />
                </div>
                <span asp-validation-for="Timestamp" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-outline-success">Get Date and Time</button>
        </form>
        <br />
        @if (Model != null)
        {
            <div class="row">
                <div class="text-center">
                    <h4 class="text-center">UTC Time:</h4>
                    <p class="text-center">@Model.Utc</p>
                </div>
                <div>
                    <h4 class="text-center">Local Time:</h4>
                    <p class="text-center">@Model.Local</p>
                </div>
            </div>
        }
    </div>
</div>
